* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
ol {
    list-style: inside;
}
ol > li {
    color: red;
}

.um {
    width: 500px;
    height: 500px;
    background-color: red;
}
.um > .dois {
    width: 300px;
    height: 300px;
    background-color: green
}
.um > .tres {
    width: 100px;
    height: 100px;
    background-color: blue;
}
.um > .tres > .quatro {     /* OU .tres .quatro OU .um .quatro */
    background-color: gray;
    width: 50px;
    height: 50px;
}
/*  */