@font-face {
    font-family: "Gloria Hallelujah";
    src: url(../font/GloriaHallelujah-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gloria Hallelujah", cursive;
}

html, body {
    height: 100%;
}

#home {
    padding: 20px 0;
    background-color: #cccccc;
    text-align: center;
}

#home ul {
    text-align: center;
}

li {
    display: inline;
    list-style-type: none;
    margin: 20px;
}