* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
.table1 {
    width: 900px;
    margin: 0 auto;
    border-collapse: collapse; /* faz com que as bordas colidam (sem espaçamento) */
}
table tr td {
    background-color: rgb(200, 200, 200);
    height: 100px;
    vertical-align: middle;
    border: 3px solid black;
}