@font-face {
    font-family: "Gloria Hallelujah";
    src: url(../font/GloriaHallelujah-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gloria Hallelujah", cursive;
}
html, body {
    height: 100%;
}

.box h2{
  color: gray;
  font-size: 24px;
}

.box p {
  color: rgb(130, 130, 130);
  font-size: 17px;
  font-style: italic;
}

.box2 {
  margin: 20px;
}
.box2 h2 {
  color: orange;
  font-size: 24px;
}

.box2 p {
  color: green;
  font-size: 15px;
}