@font-face {
    font-family: "Gloria Hallelujah";
    src: url(../font/GloriaHallelujah-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gloria Hallelujah", cursive;
}

html, body {
    height: 100%;
}
